.wrapper{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    flex-direction: column-reverse;
}

.wrapper button{
    margin: 20px;
    width: 250px;
}